# compiled output
/dist
/tmp

# dependencies
node_modules
bower_components

*.tern-project
*.jar
*.factorypath
*.zip
*.dll
*.war
*.ear
*.swf
junit*.properties
setup/build/
.classpath
**/versionHTML/version.jsp
target/
**.iml
**idea
**out
*.project
*.settings
/push.bat
applet/build
*.class
*.tern-project
build/
onland-ui/.metadata/
!/onland-ui/src/app/historical-books/components/detail/transaction/
/bin
/.metadata/