<?xml version="1.0" encoding="UTF-8"?>


<module xmlns="urn:jboss:module:1.1" name="ca_teranet_ldap">
    <resources>
        <resource-root path="jboss-authentication-provider.jar"/>
        <resource-root path="cspbtlogin.jar"/>
        <resource-root path="util.jar"/>
    </resources>

    <dependencies>
        <system export="true">
            <paths>
                <path name="sun/net/www/protocol/https"/>
                <path name="sun/net/www/protocol/http"/>
                <path name="com/sun/net/ssl/internal/ssl"/>
            </paths>
        </system>

        <module name="org.picketbox"/>
        <module name="javax.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.apache.log4j"/>
        <module name="org.apache.commons.lang" export="true"/>
        <module name="log4j2" export="true"/>
        <module name="sun.jdk"/>

    </dependencies>
</module>
